[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-ninja = "*"
djangorestframework-simplejwt = "*"
orjson = "*"
python-dotenv = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
astral = "*"

[dev-packages]

[requires]
python_version = "3.13"
